<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="/img/cloud-10.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        
        <p>Use this site to get your weather</p>
        
        <form class="form" id="form" action="">
            <input placeholder="location- ex: Belo horizonte" type="text" name="" id="" >
            <button>Search</button>
        </form>

        <p id="msg1">

        </p>

        <p id="msg2">
            
        </p>
    </div>
    {{>footer}}


    <script src="js/app.js"></script>
</body>


</html>